<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>pro16</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxTest1</display-name>
    <servlet-name>AjaxTest1</servlet-name>
    <servlet-class>sec01.ex01.AjaxTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTest1</servlet-name>
    <url-pattern>/AjaxTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxTest2</display-name>
    <servlet-name>AjaxTest2</servlet-name>
    <servlet-class>sec01.ex01.AjaxTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTest2</servlet-name>
    <url-pattern>/AjaxTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>sec02.ex01.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/mem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jsonServlet1</display-name>
    <servlet-name>jsonServlet1</servlet-name>
    <servlet-class>sec03.ex01.jsonServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsonServlet1</servlet-name>
    <url-pattern>/json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jsonServlet2</display-name>
    <servlet-name>jsonServlet2</servlet-name>
    <servlet-class>sec03.ex02.jsonServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsonServlet2</servlet-name>
    <url-pattern>/json2</url-pattern>
  </servlet-mapping>
</web-app>